body{
  background-image: url(./assets/img/fondo.png);
}

.App{
  display: flex;
}

.fondo{
  background: rgba(252, 185, 86, 0.5);
  background-repeat: no-repeat;
  width: 230px;
  margin: 150px;
  padding: 5px;
}

.logo-img{
  margin: 40px;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.logo-img:hover{
  width: 100px;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  color: #fff;
  transform: scale(1.2);
}

.boton-login{
  border: none;
  background-color: rgba(252, 185, 86, 0.5);
  color: rgb(67, 63, 21);
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 48px;
  margin: 10px;
  font-size: 30px;
  border-radius: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-login:hover{
  background-color: rgb(251, 197, 197);
  box-shadow: 0 0 10px 3px rgb(206, 113, 113);
}

.container-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.fondo-cards{
  background-color: rgba(252, 185, 86, 0.5);
  width: 250px;
  height: 350px;
  padding: 20px;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.boton-rsp{
  margin-left: 10px;
  padding: 10px;
  width: 50px;
  border: transparent;
  background-color: rgba(252, 185, 86, 0.8);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-rsp:hover{
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
}

.addproduct{
  background-color: rgba(252, 185, 86, 0.8);
  width: 280px;
  height: 400px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10%;
  margin: 250px;
}

.boton-add{
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 75px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.boton-add:hover{
  background-color: rgba(252, 185, 86, 0.5);
  box-shadow: 0 0 10px 3px white;
}

.loginfront{
  background-color: rgba(252, 185, 86, 0.8);
  width: 280px;
  height: 310px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10%;
  margin: 250px;
}

.botongo{
  border: none;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  margin: 10px;
  margin-left: 75px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.botongo:hover{
  background-color: rgba(252, 185, 86, 0.5);
  box-shadow: 0 0 10px 3px white;
}

.content-search{
  width:fit-content;
  padding: .5rem;
  display: flex;
  align-items: center;
}

.search{
  width: 370px;
  height: 50px;
  opacity: 0.5;
  border: none;
  background-color: white;
  color: gray;
  font-size: 2rem
}

.icon-search{
  width: 58px;
}
